@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; box-sizing:border-box; outline:none}
li {list-style:none}
a {text-decoration:none}


.hairshop-card-area {
    padding: 80px 0;
}
.hairshop-card-area .hairshop-card {
    background:#fff;
    width: 1100px;
    margin: 0 auto 45px auto;
    border-radius:30px;
    height: 480px;
    display: flex;
    flex-direction: column;
    }
.hairshop-card-area .hairshop-card .slidebox {overflow:hidden;flex:1;margin: 30px 30px 0 30px;}

.hairshop-card .slidebox .shopbox {width: 570px;height:330px;border-radius:10px;overflow: hidden;}
.hairshop-card .slidebox .shopbox > a {}
.hairshop-card .slidebox .shopbox > a > img {width:100%; height:100%; object-fit: cover;}

.hairshop-card .slidebox .stylebox {width: 300px;height:330px;border-radius: 10px;overflow:hidden}
.hairshop-card .slidebox .stylebox > a {}
.hairshop-card .slidebox .stylebox > a > img {width:100%; height:100%; object-fit: cover;}

.hairshop-card .bottom-txt {
    margin: 0px 0 20px 34px;
}
.hairshop-card .bottom-txt .name {font-family:'NotoSansKR-Bold';font-size: 22px;}
.hairshop-card .bottom-txt .info {
    font-size: 16px;
    font-family: 'NotoSansKR-Light';
    letter-spacing: 0.5px;
    margin: 2px 0 2px 0;
}

.hairshop-card .bottom-txt .info .ico + .ico {margin-left:8px;}
.hairshop-card .bottom-txt .info .ico.star::before {
    content: "";
    display:inline-block;
    background:url(../../../img/y_star.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin: 0px 3px -3px 0;
    }
.hairshop-card .bottom-txt .info .ico.review::before {
    content: "";
    display:inline-block;
    background:url(../../../img/review.png) no-repeat 0 0;
    width: 22px;
    height: 17px;
    background-size: contain;
    margin: 0px 3px -4px 0px;
    }

.hairshop-card .bottom-txt .info .time {
}
.hairshop-card .bottom-txt .info .price {
}

.bottom-txt .info .time::before,
.bottom-txt .info .price::before {
    content:"";
    display:inline-block;
    width: 1px;
    height: 20px;
    background: #eee;
    margin: -4px 15px;
}

.hairshop-card .bottom-txt .bio {
    font-family: 'NotoSansKR-Regular';
    font-size: 18px;
    color: #888;
}