@font-face {
  font-family: 'GmarketSans-Medium';
  src: url('/font/GmarketSansMedium.otf') format('opentype')}

@font-face {
  font-family: 'GmarketSans-Light';
  src: url('/font/GmarketSansLight.otf') format('opentype')}

@font-face {
  font-family: 'GmarketSans-Bold';
  src: url('/font/GmarketSansBold.otf') format('opentype')}

@font-face {
  font-family: 'Y_Spotlight';
  src: url('/font/Y_Spotlight.woff') format('woff')}

@font-face { 
	 font-family: 'Recoleta-RegularDEMO';
	 src:url('/font/Recoleta-RegularDEMO.otf') format('opentype');}

 @font-face {font-family: 'NotoSansKR-Thin';
	 src: url('/font/NotoSansKR-Thin.woff2') format('woff2'),
		  url('/font/NotoSansKR-Thin.woff') format('woff'),
		  url('/font/NotoSansKR-Thin.otf') format('opentype');}

@font-face {font-family: 'NotoSansKR-Light';
	src: url('/font/NotoSansKR-Light.woff2') format('woff2'),
		 url('/font/NotoSansKR-Light.woff') format('woff'),
		 url('/font/NotoSansKR-Light.otf') format('opentype');}

@font-face {font-family: 'NotoSansKR-Regular';
	src: url('/font/NotoSansKR-Regular.woff2') format('woff2'),
		 url('/font/NotoSansKR-Regular.woff') format('woff'),
		 url('/font/NotoSansKR-Regular.otf') format('opentype');}

@font-face {font-family: 'NotoSansKR-Medium';
	src: url('/font/NotoSansKR-Medium.woff2') format('woff2'),
		 url('/font/NotoSansKR-Medium.woff') format('woff'),
		 url('/font/NotoSansKR-Medium.otf') format('opentype');}

@font-face {font-family: 'NotoSansKR-Bold';
	src: url('/font/NotoSansKR-Bold.woff2') format('woff2'),
		 url('/font/NotoSansKR-Bold.woff') format('woff'),
		 url('/font/NotoSansKR-Bold.otf') format('opentype');}

@font-face {font-family: 'NotoSansKR-Black';
	src: url('/font/NotoSansKR-Black.woff2') format('woff2'),
		 url('/font/NotoSansKR-Black.woff') format('woff'),
		 url('/font/NotoSansKR-Black.otf') format('opentype');}


* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

html, body {
  width: 100%;
  height: 100%;
  color: #1f1f1f;
  margin: 0;
  padding: 0; }

body {
  font: normal 100%/1.5 "NotoSansKR-Regular"; 
	}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, select, label, img, figure {
  margin: 0;
  padding: 0; }

button {
    background: none;
    border: 0;
	font-size:1em;
	outline:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline:none}
input,textarea,select {outline:0; outline:none; border:0; border:none; vertical-align:middle; font-size:1em; font-family: 'Nanum Squarebold'; color:#000}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0; }

fieldset, img, table, button {
  border: 0; }

ul, ol, li {
  list-style: none; }

img {
  vertical-align: middle; }

caption, legend {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold; }

address, em {
  font-style: normal;
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, navi, section {
  display: block; }

legend, hr {
  display: none;
  height: 0;
  font-size: 0; }

a {
  color: #111111;
  text-decoration: none; }

p {
  padding: 0; }

button {
  color: #555;
  text-decoration: none;
  cursor: pointer; }